{% include "vueEntete.html" %}
{% include "vueEnteteGestionnaire.html" %}


<center><h3>Historique du personnel pour une carte de restauration.</h3></center>
<table class="table">
<thead class="thead-dark">
	<tr>
		<td><h3 class="tableau">N° Carte</h3></td>
		<td><h3 class="tableau">Nom</h3></td>
		<td><h3 class="tableau">Prénom</h3></td>
		<td><h3 class="tableau">Service</h3></td>
	</tr>
	</thead>
		{% for i in range(rangePerso) %}
		<tbody>
			<tr >
				<td><h3 class="tableau">{{leNoCarte[i]}}</h3></td>
				<td><h3 class="tableau">{{leNom[i]}}</h3></td>
				<td><h3 class="tableau">{{lePrenom[i]}}</h3></td>
				<td><h3 class="tableau">{{leService[i]}}</h3></td>
				<td>
					<h3 class="tableau">
						<form id="historique" role="form" action="/gestionnaire/avecCarte/histo" method="POST">
							<button class="btn btn-primary" type="numeric" class="form-control" name="numeroCarte" id="histo" value="{{leNoCarte[i]}}">Historique</button>
						</form>
					</h3>
				</td>
				
			</tr>
		</tbody>
{% endfor%}
</table>
{% include "vuePied.html" %}
